# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
.venv/

# Tooling caches
.pytest_cache/
.mypy_cache/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store

# Outputs
*.csv
*.png
.runpod_pod_id
